{% extends "layout.html" %}

{% block content %}
  <!--
  <div class="page-header">
    <h1>Home</small></h1>
  </div>
  -->

<div class="container-fluid">
	<div class="row-fluid">
			<!-- need column  -->
		<div class="span6">
			<div class="needs-list">
        		<div class="needs-title"><h3>My Needs</h3></div>
        		<!--
				<div class="needs-zoom"><a href="#" onclick="javascript:showNeeds();">right</a></div>
				-->
        		<div class="clear"></div>
        		<ul class=posts>
        			{% for need in needs %}
          				<li>
              				<strong><a href="{{ url_for('user_page', username=need.username) }}">{{ need.username }}</a></strong> 
              				<a href="{{ url_for('need_view', needid=need.need_id) }}">{{ need.need_title }}</a>
              				<small>&mdash; {{ need.need_pub_date|datetimeformat }}</small>
		   				</li>
        			{% else %}
          				<li><em>There's no needs so far.</em></li>
        			{% endfor %}
				</ul>
			</div>
		</div>
		<div class="span6">
			<!-- provide column  -->
			<div class="provides-list">
        		<div class="provides-title"><h3>My Provides</h3></div>
        		<!--
				<div class="provides-zoom"><a href="#" onclick="javascript:showProvides();">left</a></div>
        		-->
				<div class="clear"></div>
        		<ul class=posts>
        			{% for provide in provides %}
          				<li>
              				<strong><a href="{{ url_for('user_page', username=provide.username) }}">{{ provide.username }}</a></strong> 
              				<a href="{{ url_for('provide_view', provideid=provide.provide_id) }}">{{ provide.provide_title }}</a>
              				<small>&mdash; {{ provide.provide_pub_date|datetimeformat }}</small>
	      				</li>
        			{% else %}
          				<li><em>There's no provides so far.</em></li>
        			{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
