{% extends "layout.html" %}

{% block content %}

<div class="postbtn">
	<p><button class="btn btn-large btn-primary" type="button">Post a Need</button></p>
</div>	
	<!--
	<div class="row-fluid">
    	<div class="span6">
			<h3> What do you need {{ g.user.username }}?</h3>
			<div id="i-need-proxy">
				<table cellspacing='0' cellpadding='0' border="0">
					<tr>
						<td>I need</td>
						<td><input id="need_text_proxy" type="text" name='need_text_proxy' onfocus='$("#i-need").show();'></td>
					</tr>
				</table>
			</div>

			<div id="i-need" class="default-hidden">
			<div class="popover-close-box" id="popover-close-box" onclick="javascript:$('#i-need').hide();"></div>
			<form action="{{ url_for('add_need') }}" method=post>
				<table cellspacing='0' cellpadding='0'>
					<tr>
						<td>I need</td>
						<td><input id="need_text" type="text" name='need_title'></td>
					</tr>
					<tr>
						<td>Details</td>
						<td><textarea id="need_content" name="need_content" rows="4" cols="40"></textarea></td>
					</tr>
					<tr>
						<td></td>
						<td><button type='submit' id="submit_need_post">Post Need</button></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	-->
<div class="row">
	<div class="span6">
		<div class="needs-list">
  		<div class="needs-title"><h3>My needs</h3></div>
			<div class="clear"></div>
      <ul class="posts">
      	{% for need in needs %}
       		<li>
         		<strong><a href="{{ url_for('user_page', username=need.username) }}">{{ need.username }}</a></strong> 
         		<a href="{{ url_for('need_view', needid=need.need_id) }}">{{ need.need_title }}</a>
           	<small>&mdash; {{ need.need_pub_date|datetimeformat }}</small>
		  		</li>
      	{% else %}
       		<li><em>There's no needs so far.</em></li>
      	{% endfor %}
      </ul>
    </div>
	</div>
  <div class="span6">
		<div class="provides-list">
  		<div class="provides-title"><h3>Their provides</h3></div>
			<ul class="posts" id="provide_post">
	  		{% for provide in provides %}
					<li>
						<strong><a href="{{ url_for('user_page', username=provide.username) }}">{{ provide.username }}</a></strong>
						<a href="{{ url_for('provide_view', provideid=provide.provide_id) }}">{{ provide.provide_title }}</a>
						<small> &mdash; {{ provide.provide_pub_date|datetimeformat }} </small>
					</li>
				{% else %}
					<li><em>No offers are provided so far!</em></li>
				{% endfor %}
	  			</ul>
			</div>
    </div>
  </div>
</div>
{% endblock %}
