{% extends "layout.html" %}

{% block content %}

<div class="postbtn">
	<a data-toggle="modal" href="#ineed-post" class="btn btn-large btn-primary">Post a Need</a>
</div>

<div id="ineed-post" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ineed-post-label" aria-hidden="true">
	<form action="{{ url_for('add_need') }}" method=post>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
			<h3>Post your need.</h3>
		</div>
		<div class="modal-body">
			<p style="text-align: left;">I need:</p>
			<input class="span6" type="text" name='need_title' placeholder="Enter a title of your post ...">
			<p style="text-align: left;">Details:</p>
			<textarea class="span6" name="need_content" placeholder="Enter you post details ..." rows="8"></textarea>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal">Close</button>
			<button class="btn btn-primary" type="submit">Post it</button>
		</div>
	</form>
</div>

<div class="container">
	<div class="row">
		<div class="span4">
			<h3>My personal needs:</h3>
			<div class="accordion" id="accordion2">
				{% for i in range(needs|length) %}
					<div class="accordion-group">					
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="accordion2" href="#postneeds{{i}}">
								<strong><a href="{{ url_for('user_page', username=needs[i].username) }}">{{ needs[i].username }}</a></strong> 
         				<a href="{{ url_for('need_view', needid=needs[i].need_id) }}">{{ needs[i].need_title }}</a>
           			<small>&mdash; {{ needs[i].need_pub_date|datetimeformat }}</small>
							</a>
						</div>
						<div id="postneeds{{i}}" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>hahahahhahahahahhahah</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="span8">
			<h3>Market provides:</h3>
			<div class="accordion" id="accordion3">
				{% for j in range(provides|length) %}
					<div class="accordion-group">
						<div class="accordion-heading">
							<a class="accordion-toggle" data-toggle="collapse" data-parent="accordion3" href="#postprovides{{j}}">
								<strong><a href="{{ url_for('user_page', username=provides[j].username) }}">{{ provides[j].username }}</a></strong> 
         				<a href="{{ url_for('provide_view', provideid=provides[j].provide_id) }}">{{ provides[j].provide_title }}</a>
           			<small>&mdash; {{ provides[j].provide_pub_date|datetimeformat }}</small>
							</a>
						</div>
						<div id="postprovides{{j}}" class="accordion-body collapse">
							<div class="accordion-inner">
								<p>hahahahhahahahhahahah</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
