{% extends "layout.html" %}

{% block content %}
<div class="postbtn">
	<a data-toggle="modal" href="#iprovide-post" class="btn btn-large btn-warning"><i class="icon-pencil icon-white"></i>&nbsp;Post an offer</a>
</div>

<div id="iprovide-post" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="iprovide-post-label" aria-hidden="true">
	<form action="{{ url_for('add_provide') }}" method=post>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
			<h3>Post your offer</h3>
		</div>
		<div class="modal-body">
			<p style="text-align: left;">I provide:</p>
			<input class="span6" type="text" name='provide_title' placeholder="Enter a title of your post ...">
			<p style="text-align: left;">Details:</p>
			<textarea class="span6" name="provide_content" placeholder="Enter you post details ..." rows="8"></textarea>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal">Close</button>
			<button class="btn btn-primary" type="submit">Post it</button>
		</div>
	</form>
</div>

<div class="container">
	<div class="tabbable tabs-left">
		<ul class="nav nav-tabs span4">
			<div><h3>My Offers</h3></div>
			<li style="text-align: left;" class="active"><a data-toggle="tab" href="#"><i class="icon-chevron-right"></i>All</a></li>
			{% for i in range(provides|length) %}
				<li style="text-align: left;"><a data-toggle="tab" href="#postprovides7"><i class="icon-chevron-right"></i>{{provides[i].provide_title}}</a></li>
			{% endfor %}
		</ul>
		<div class="tab-content">
			<div><h3>Their Needs</h3></div>
			<div class="tab-pane active">
				<div class="accordion" id="accordion2">
					{% for j in range(needs|length) %}
						<div class="accordion-group">
							<div class="accordion-heading">
								<div class="accordion-toggle" data-toggle="collapse" data-parent="accordion2" href="#postneeds{{j}}">
									<table>
										<tr>
											<td style="width: 100px;"><img src="http://userserve-ak.last.fm/serve/500/6811139/Apple+Inc+Apple.png" width="120" height="120"></td>
											<td style="width: 150px;"><a href="{{ url_for('need_view', needid=needs[j].need_id) }}">{{needs[j].need_title}}</a></td>
											<td style="wdith: 150px;"><img src="http://userserve-ak.last.fm/serve/500/6811139/Apple+Inc+Apple.png" width="120" height="120"></td>
										</tr>
											<td style="width: 100px;"><a href="{{ url_for('user_page', username=needs[j].username) }}">{{needs[j].username}}</a></td>
											<td style="width: 150px;"></td>
											<td style="width: 150px;">{{needs[j].need_pub_date|datetimeformat}}</td>
										<tr>
									</table>
								</div>
							</div>
							<div id="postneeds{{j}}" class="accordion-body collapse">
								<div class="accordion-inner">
									<p>{{needs[j].need_content}}</p>
									<p style="text-align: right;">
										<a class="btn btn-small" href="{{ url_for('need_view', needid=needs[j].need_id) }}">Read details</a>
									</p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
