.clear {
  clear:both;
}

.needs-list {
  float:left;
  width: 400px;
}

.needs-title {
  float:left;
}

.needs-zoom {
  float:right;
  width: 50px;
  text-align:center;
}

.provides-list {
  float:left;
  width: 400px;
}

.provides-title {
  float:left;
  width: 80%;
}

.provides-zoom {
  float:right;
  width: 50px;
  text-align:center;
}

.default-hidden {
	DISPLAY: none
}

.popover-close-box {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; WIDTH: 24px; PADDING-RIGHT: 8px; DISPLAY: block; BACKGROUND: url(data:image/png;charset=utf-8;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAG1JREFUeNpiYACCzZs3J4AwAwGArI4RypgPlUv09fVdgEsTsjomNPn52GxG0wQGjDgk4DbjkmPEY2oizBXYDGQk5CRsmjA04tGMEWhMDGQCyp1KVuCQFR34NOFzDROh0AMBqFgi3sRLbCIHCDAAo09dyoRG2I8AAAAASUVORK5CYII=) no-repeat 8px 8px; HEIGHT: 14px; CURSOR: pointer; PADDING-TOP: 8px; opacity: .8
}

.popover-close-box:hover {
	opacity: 1
}

#i-need .popover-close-box {
	POSITION: absolute; TOP: 0px; RIGHT: 0px
}

#i-need {
	POSITION: absolute; PADDING-BOTTOM: 18px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; WIDTH: 480px; MARGIN-BOTTOM: 40px; MARGIN-LEFT: 10px; PADDING-TOP: 0px
}
#i-need-proxy {
	POSITION: absolute; PADDING-BOTTOM: 18px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; WIDTH: 480px; MARGIN-BOTTOM: 40px; MARGIN-LEFT: 10px; PADDING-TOP: 0px
}
#i-need {
	BORDER-BOTTOM: #e6e6e6 1px solid; POSITION: absolute; BORDER-LEFT: #e6e6e6 1px solid; BACKGROUND-COLOR: #f7f7f7; BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4)
}
#i-need .popover-close-box {
	POSITION: absolute; TOP: 0px; RIGHT: 4px
}

